:root {
	--primary: #651acf;
	--background: rgb(240, 240, 240);
	--background2: rgb(255, 255, 255);
	--textcolor: rgb(36, 36, 36);
	--textcolor2: rgb(240, 240, 240);
	--transformvalue: none;
	--filtervalue: none;
}
[data-theme='dark'] {
	--primary: #bb86fc;
	--background: rgb(27, 27, 27);
	--background2: rgb(42, 42, 42);
	--textcolor: rgb(240, 240, 240);
	--textcolor2: rgb(240, 240, 240);
	--transformvalue: translateY(-1000px);
	--filtervalue: drop-shadow(0px 1000px 0 var(--textcolor));
}
