:root {
	--blue: #0d6efd;
	--indigo: #6610f2;
	--red: red;
	--dark: rgb(29, 28, 27);
	--light: rgb(240, 240, 240);
	--tyrian-purple: #5f0f40ff;
	--spanish-orange: #e36414ff;
	--midnight-green: #0f4c5cff;
	--murrey: #830040ff;
	--cerulean: #307c94ff;
}
body {
	font-family: 'poppins', 'Times New Roman', Times, serif;
	background-color: rgb(248, 249, 250);
}
/*ESTILOS DEL CONTENEDOR*/
#products {
	display: grid;
	grid-template-columns: 0.5fr 0.5fr 0.5fr;
	text-align: center;
	padding: 10px 100px 0 70px;
}
.productcard {
	background-color: white;
	display: grid;
	margin: 20px;
	text-align: left;
	/* grid-template-columns: 1.5fr; */
	/* grid-template-rows: 1fr 0.5fr; */
	align-items: center;
	justify-content: center;
	max-width: 90%;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 5px 5px 7px 2px rgba(0, 0, 0, 0.473);
	cursor: pointer;
}
/*ESTILOS DEL div y imagen*/
.imgdiv {
	display: grid;
	place-items: center;
}
.imgdiv img {
	max-width: 90%;
	max-height: 90%;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.639);
}
/*ESTILOS DEL div y h3*/
.h3div {
	padding: 0px 70px;
}
.h3div h3 {
	font-size: 220%;
}

/*ESTILOS DEL div y contador ventas*/
.p2div {
	display: flex;
	justify-content: end;
	width: 90%;
}
/*ESTILOS DEL precio*/
.precio {
	color: #830040ff;
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.345) 1px solid black;
	font-size: 185%;
	font-weight: bold;
}

/*ESTILOS DEL contador vendidos*/
.vendidos {
	color: black;
	font-weight: bold;
	font-size: 80%;
}
/*ESTILOS DEL descripcion*/
.descripcion {
	font-size: 100%;
}
/*ESTILOS DEL encabezado*/
.encabezado {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.encabezado h1 {
	color: #830040ff;
	-webkit-text-stroke: 1px #830040ff 1px solid black;
	text-shadow: 0.5px 0px 10px grey;
	font-size: 350%;
	font-weight: 600;
	margin-top: 20px;
	padding: 0;
}
.encabezado p {
	color: #000000d5;
	/* -webkit-text-stroke: 1px rgba(0, 0, 0, 0.345);: 1px solid black; */
	/* text-shadow: 0.5px 0px 4px black; */
	font-size: 100%;
	font-weight: 400;
	padding: 0px 40px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/** ====== Filtros ====== **/

.filtros {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn-pop-up {
	border-radius: 50px;
	padding: 5px 15px;
	border: 2px solid var(--dark);
	stroke: var(--dark);
	background-color: var(--light);
	transition: 0.3s;
}

.btn-pop-up:hover {
	padding: 5px 15px;
	border: 2px solid var(--murrey);
	stroke: var(--murrey);
	background-color: var(--light);
	box-shadow: 0px 0px 5px 0px var(--murrey);
}

.filtros-container {
	opacity: 0;
	transition: opacity 0.3s;
	z-index: -1;
	position: absolute;
	top: 55px;
	background-color: var(--dark);
	padding: 25px;
	border-radius: 20px;
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 5px 0px var(--murrey);
}
.precios-camp {
	display: flex;
	gap: 5px;
}

.precios-camp .icon-tabler-math-lower {
	stroke: var(--light);
}

.precios-camp .camp {
	font-weight: bold;
	border-radius: 20px;
	border: none;
	padding: 0px 15px;
	outline: none;
	color: var(--murrey);
	background-color: var(--light);
}

.precios-camp .camp::-webkit-inner-spin-button,
.precios-camp .camp::-webkit-outer-spin-button {
	appearance: none;
	-webkit-appearance: none;
	margin: 0; /* Puede ser necesario para algunos navegadores */
}

.otros-filtros button {
	border-radius: 50px;
	padding: 5px 15px;
	border: 2px solid var(--dark);
	stroke: var(--dark);
	background-color: var(--light);
	transition: 0.3s;
}

.otros-filtros button:hover {
	padding: 5px 15px;
	border: 2px solid var(--murrey);
	stroke: var(--murrey);
	background-color: var(--light);
	box-shadow: 0px 0px 5px 0px var(--murrey);
}

.btn-filtrar {
	background-color: var(--murrey);
	padding: 5px 25px;
	border-radius: 20px;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	color: var(--light);
	border: none;
	transition: 0.3s;
}

.btn-filtrar:hover {
	background-color: rgb(151, 0, 73);
}
