@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
	font-family: 'poppins', 'Times New Roman', Times, serif;
}

* {
	box-sizing: border-box;
}
/* Estructura del Grid en función del diseño pensado */
.info_prod{
	display: grid;
	display: grid;
	grid-template-rows: 1fr 1fr auto auto;
	grid-template-columns: 1fr 0.5fr;
	/* Puedes ajustar el espacio entre las celdas según tus preferencias */
	/* Estilos específicos para la Fila 3 y Fila 4 (sin columnas) */
	margin: 0 auto;
    text-align: left;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 7px 2px rgba(0, 0, 0, 0.473);
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 900px;
}

.info_prod > :nth-child(5) {
  grid-column: 1 / span 2; /* Ocupan las dos columnas disponibles */
}

.divinfoTitle{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.divSoldCount{
	display: flex;
	align-content: stretch;
	justify-content: space-between;
}
.divPrice{
	display: flex;
	align-content: stretch;
	justify-content: space-between;
}
.divCategory{
	display: flex;
	align-content: stretch;
	justify-content: space-between;
}
.h1infoTitle{
font-size: 50px;
}
.pPrice{
	display: flex;
	align-content: stretch;
		justify-content: space-between;
		font-size: 35px;
}
.pDescription{
	display: flex;
	align-content: stretch;
		justify-content: center;
}
.pSoldCount{
display: flex;
align-content: stretch;
	justify-content: center;
}
.pCategory{
font-size: 45px;
}
/** ====== COMMENT SECTION ====== **/

.comment-section {
	background-color: rgb(233, 199, 253);
	box-shadow: 0px 0px 5px 0px rgb(122, 122, 122);
	border-radius: 20px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	width: 900px;
}

/* COMMENT LIST */

.comment-section__comment-container {
	padding: 40px 0px 40px 40px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.comment-container__title {
	font-weight: 700;
	font-size: 25px;
	text-align: center;
}

.comment-container__comment-list {
	overflow: auto;
	height: 200px;
	display: flex;
	gap: 20px;
	flex-direction: column;
}

.comment-container__comment-list::-webkit-scrollbar {
	width: 7px;
	background-color: rgb(71, 71, 71);
	border-radius: 20px;
}

.comment-container__comment-list::-webkit-scrollbar-thumb {
	background-color: rgb(140, 76, 146);
	border-radius: 20px;
}

.cards {
	background-color: rgb(253, 220, 249);
	padding: 5px 15px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 16px;
	width: 400px;
	display: flex;
}

.tarjeta_load_extreme_description {
	gap: 5px;
	display: flex;
	flex-direction: column;
}

.tarjeta_load_extreme_description .comment-title {
	font-weight: 700;
	color: #830040ff;
}

.tarjeta_load_extreme_description > * {
	padding: 0;
	margin: 0;
}

.tarjeta_load img {
	width: 40px;
	stroke: red;
	padding: 0;
}

/* ADD COMMENT */
.comment-section__add-comment {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 40px 40px 40px 10px;
}

.add-comment__title {
	text-align: center;
	font-weight: 700;
	font-size: 25px;
}

.add-comment__camp {
	height: 150px;
	position: relative;
}

.add-comment__input {
	background-color: whitesmoke;
	color: rgb(29, 29, 29);
	padding: 15px;
	resize: none;
	border-radius: 20px;
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-weight: 500;
}

.add-comment__score {
	direction: rtl;
	unicode-bidi: bidi-override;
	padding: 8px 10px;
	display: flex;
	justify-content: end;
	position: absolute;
	bottom: 0;
	right: 0;
}

.add-comment__score label {
	width: 20px;
	color: grey;
	transition: all 0.3s ease;
}

.add-comment__score input[type='radio'] {
	display: none;
}

.add-comment__score label:hover,
.add-comment__score label:hover ~ label {
	color: #fd4;
}

input:checked ~ label {
	color: #fd4;
}

input#star-1:checked ~ label {
	color: #fe7;
	text-shadow: 0 0 20px #952;
}

.add-comment-btn {
	background-color: #830040ff;
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	box-shadow: 0px 0px 5px 0px rgb(102, 102, 102);
	border-radius: 20px;
	border: none;
	padding: 10px 0px;
	width: 50%;
	margin: auto;
	transition: 0.2s;
}

.add-comment-btn:hover {
	background-color: rgb(161, 0, 78);
}

/** ====== PRODUCTS SECTION ====== **/
.divImgInfo {
    display: flex;
    margin: 0 auto;
    width: 750px; 
    height: 460px;
    padding: 20px;
}

img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    transition: 0.5s ease;
	border-radius: 5px ;
}

img:nth-child(3) {
    order: 4; 
}

img:hover {
    cursor: crosshair;
    width: 600px; 
    opacity: 1;
    filter: contrast(150%); 
}

