@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
	font-family: 'poppins', 'Times New Roman', Times, serif;
	background-color: #212529;
}

* {
	box-sizing: border-box;
}
.container {
	padding: 10px 10px 10px 10px;
}
/* Estructura del Grid en función del diseño pensado */

/* Related-Products */

.relatedproducts {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.divRelated {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.info_prod {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr auto;
	margin: 30px auto;
	text-align: left;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.473);
	justify-content: center;
	align-items: center;
	padding: 35px;
	gap: 10px;
	width: 100%;
}

.info_prod > :nth-child(5) {
	grid-column: 1 / span 2; /* Ocupan las dos columnas disponibles */
}

.divinfoTitle {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.divSoldCount {
	display: flex;
	align-content: stretch;
	justify-content: center;
}
.divPrice {
	display: flex;
	align-content: stretch;
	justify-content: space-between;
}
.divBtnCarrito {
	display: flex;
	align-content: stretch;
	justify-content: center;
}
.divInfoP {
	display: flex;
	align-content: stretch;
	justify-content: center;
}
.h1infoTitle {
	font-size: 50px;
}
.pPrice {
	display: flex;
	align-content: stretch;
	justify-content: space-between;
	font-size: 35px;
}

.pCategory {
	font-size: 20px;
}

.btnAddCarrito{
	background-color: #985eff;
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	box-shadow: 0px 0px 5px 0px rgb(102, 102, 102);
	border-radius: 20px;
	border: none;
	padding: 4px 15px;
	margin: auto;
	transition: 0.2s;
}

/** ====== PRODUCTS Images ====== **/
.divImgInfo {
	display: flex;
	margin: 0 auto;
	width: 100%;
	height: 460px;
}

.divImgInfo img {
	width: 0;
	flex-grow: 1;
	object-fit: cover;
	transition: 0.5s ease;
	border-radius: 5px;
}

.divImgInfo img:nth-child(3) {
	order: 4;
}

.divImgInfo img:hover {
	cursor: crosshair;
	width: 75%;
	opacity: 1;
}

/** ====== COMMENT SECTION ====== **/

.comment-section {
	background-color: white;
	box-shadow: 0px 0px 5px 0px rgb(122, 122, 122);
	box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.473);
	border-radius: 20px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 100%;
	@media (max-width: 770px) {
	 flex-direction: column;
	}
}

/* COMMENT LIST */

.comment-section__comment-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	width: 100%;
	@media (max-width: 770px) {
		padding: 20px 0px 0px 0px;
	}
}

.comment-container__title {
	font-weight: 700;
	font-size: 25px;
	text-align: center;
}

.comment-container__comment-list {
	overflow: auto;
	width: 90%;
	height: 200px;
	display: flex;
	align-items: center;
	gap: 20px;
	flex-direction: column;
}

.comment-container__comment-list::-webkit-scrollbar {
	width: 7px;
	background-color: rgb(71, 71, 71);
	border-radius: 20px;
}

.comment-container__comment-list::-webkit-scrollbar-thumb {
	background-color: rgb(140, 76, 146);
	border-radius: 20px;
}

.cards {
	background-color: whitesmoke;
	padding: 16px 18px;
	border-radius: 20px;
	align-items: center;
	gap: 10px;
	font-size: 16px;
	width: 70%;
	margin: 0 20px;
	display: flex;
	border: solid 0.5px #777474;
}

.tarjeta_load_extreme_description {
	gap: 5px;
	display: flex;
	flex-direction: column;
}

.tarjeta_load_extreme_description .comment-title {
	font-weight: 700;
	color: #985eff;
}

.tarjeta_load_extreme_description > * {
	padding: 0;
	margin: 0;
}

.tarjeta_load img {
	width: 40px;
	stroke: red;
	padding: 0;
}

/* ADD COMMENT */
.comment-section__add-comment {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 40px 40px 40px 10px;
	width: 90%;
	@media (max-width: 770px) {
		padding: 10px 0px 10px 0px;
		width: 70%;
	}
}

.add-comment__title {
	text-align: center;
	font-weight: 700;
	font-size: 25px;
}

.add-comment__camp {
	height: 150px;
	position: relative;
}

.add-comment__input {
	background-color: whitesmoke;
	color: rgb(29, 29, 29);
	padding: 15px;
	resize: none;
	border-radius: 20px;
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-weight: 500;
}

.add-comment__score {
	direction: rtl;
	unicode-bidi: bidi-override;
	padding: 8px 10px;
	display: flex;
	justify-content: end;
	position: absolute;
	bottom: 0;
}

.add-comment__score label {
	width: 20px;
	color: grey;
	transition: all 0.3s ease;
}

.add-comment__score input[type='radio'] {
	display: none;
}

.add-comment__score label:hover,
.add-comment__score label:hover ~ label {
	color: #fd4;
}

input:checked ~ label {
	color: #fd4;
}

input#star-1:checked ~ label {
	color: #fe7;
	text-shadow: 0 0 20px #952;
}

.add-comment-btn {
	background-color: #985eff;
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	box-shadow: 0px 0px 5px 0px rgb(102, 102, 102);
	border-radius: 20px;
	border: none;
	padding: 10px 0px;
	width: 50%;
	margin: auto;
	transition: 0.2s;
}

.add-comment-btn:hover {
	background-color: #8f4fff;
}

/*----PRODUCTOS RELACIONADOS------ */

.related-products {
	display: flex;
	flex-direction: column;
	margin: 30px auto;
	text-align: left;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.473);
	justify-content: center;
	align-items: center;
	padding: 35px;
	gap: 10px;
	width: 100%;
}
.relatedProducts {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	font-family: 'poppins', 'Times New Roman', Times, serif;
	margin: auto;
}
.imageRelated {
	width: 75%;
	height: 75%;
	transition: 1s;
	border-radius: 10px;
}
.pRelated {
	display: flex;
	align-items: center;
	justify-content: center;
}

.imageRelated:hover {
	transform: scale(1.05);
}
.hRelacionados {
	justify-content: center;
	align-items: center;
	position: relative;
	display: flex;
	font-size: 25px;
	font-family: 'poppins', 'Times New Roman', Times, serif;
}
 /* MEDIA QUERIES PROD RELACIONADOS*/