.comentarios {
  width: 369px;
  height: 169px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.tarjeta {
  width: 314px;
  height: 100px;
  background: #ffff;
  box-shadow: 0 1px 25px rgba(0,0,0,0.2);
  position: relative;
  transform: translate(-50%, -50%);
  top: 70%;
  left: 50%;
  padding: 12px 10px;
  font-size: 0.8rem;
  font-weight: 399;
  line-height: 1.5;
}

.tarjeta_load {
  width: 60px;
  height: 60px;
  position: relative;
  float: left;
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
  40%, #e5e5e5 48%);
  border-radius: 50%;
  background-size: 200% 100%;
  background-position: 100% 0;
}

.tarjeta_load_extreme_title {
  width: 222px;
  height: 25px;
  position: relative;
  float: right;
  border-radius: 5px;
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
  40%, #e5e5e5 48%);
  background-size: 200% 100%;
  background-position: 100% 0;
}

.tarjeta_load_extreme_description {
  width: 222px;
  height: 60px;
  position: relative;
  float: right;
  border-radius: 5px;
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
  40%, #e5e5e5 48%);
  margin-top: 10px;
  background-size: 200% 100%;
  background-position: 100% 0;
}