* {
  padding: 0;
  margin: 0;
}

@import 'colors.css';

body {
  font-family: 'Nunito', serif;
  background-color: var(--background);
}

/*ESTILOS DEL CONTENEDOR*/

.container-products {
  max-width: 1400px;
  margin: 0 auto;
}

#products {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.productcard {
  padding: 20px;
  color: var(--textcolor);
  background-color: var(--background2);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 330px;
  height: 500px;
  align-items: start;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  position: relative;
}
/*ESTILOS DEL div y imagen*/
.imgdiv {
  display: grid;
  place-items: center;
}
.imgdiv img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px 15px 15px 15px;
}
/*ESTILOS DEL div y h3*/
.h3div {
}
.h3div h3 {
  font-size: 220%;
}

/*ESTILOS DEL div y contador ventas*/
.p2div {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px 20px 20px 0px;
}
/*ESTILOS DEL precio*/
.precio {
  color: var(--primary);
  font-size: 185%;
  font-weight: bold;
}

/*ESTILOS DEL contador vendidos*/
.vendidos {
  color: var(--primary);
  font-weight: bold;
  font-size: 80%;
}
/*ESTILOS DEL descripcion*/
.descripcion {
  font-size: 100%;
}
/*ESTILOS DEL encabezado*/
.encabezado {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.encabezado h1 {
  color: var(--primary);
  text-shadow: 0px 0px 2px rgb(54, 54, 54);
  font-size: 350%;
  font-weight: 600;
  margin-top: 20px;
  padding: 0;
}
.encabezado p {
  color: var(--textcolor);
  font-size: 100%;
  font-weight: 400;
  padding: 0px 40px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/** ====== Filtros ====== **/

.filtros {
  justify-content: space-between;
  max-width: 1150px;
  width: 100%;
  display: flex;

  @media (width <= 1166px) {
    max-width: 750px;
  }

  @media (width <= 776px) {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}

.filtros-container:nth-child(1) {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

.filtros-container:nth-child(3) {
  display: flex;
  justify-content: end;
  flex-grow: 1;
  flex-basis: 0;
}

.filtros-container .filtros-item {
  background-color: var(--background2);
  padding: 5px 10px;
  border-radius: 20px;
}

.filtros-container .filtros-item {
  color: var(--gray);
}
.filtros-container .filtros-item svg {
  height: auto;
  width: 20px;
}

.filtros-container .filtros-item input {
  color: var(--textcolor);
  background-color: var(--background2);
  width: 70px;
  border: none;
  text-align: center;
  outline: none;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

#sort {
  background: transparent;
  border: none;
  color: var(--textcolor);
  transition: color 0.1s;

  &:hover {
    color: var(--primary);
  }

  &:focus {
    outline: none;
    background: var(--background2);
  }

  & .sort-option {
    color: var(--textcolor);

    &:checked {
      background: var(--background2);
      color: var(--primary);
    }
  }
  & .sort-option:hover {
    color: var(--primary);
  }
}

#refresh {
  border: none;
  background: transparent;
  color: var(--gray);
  transition: 0.1s;

  &:hover {
    color: var(--primary);
  }
}
