@import 'colors.css';

body {
	background-color: var(--background);
	color: var(--textcolor);
}

.carrito{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
  }
 

#cartItems {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.image{
  width: 100%;
  border-radius: 5px 5px 2px 2px;
}

.tdImage{

	width: 175px;
  min-width: 100px;
  min-height: 50px;
}

.tableItems {
	margin: auto;
  width: 50vw;
}

.divPrice{
	
	margin-left: 10px;
}

.pName {
	font-weight: bold;
	font-size: 18px;
}

.pCant {
	background-color: #9878c5;
	font-family: cursive;
	width: 3rem;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 4px solid #aca8a8;
}


.btnBorrar{
  background-color: #651acf;
	margin-bottom: 15px;
  border-radius: 3px;
  border: 4px solid #aca8a8;
  cursor: pointer;
}
.btnBorrar:hover{
	background-color: #9068c7;
}
.pSubtotal{
	font-family: cursive;
}



.wrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.card {
	position: relative;
	width: 150px;
	height: 100px;
	background: var(--background2);
	border-radius: 10px;
	transition: all 0.3s;
}

.card:hover {
	transform: scale(1.05);
}

.input {
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;
	appearance: none;
	border: 1px solid var(--textcolor);
	border-radius: 10px;
	z-index: 10;
	box-shadow: 0px 0px 5px var(--textcolor);
}

.input + .check::before {
	content: '';
	position: absolute;
	top: 15px;
	right: 15px;
	width: 16px;
	height: 16px;
	border: 2px solid #d0d0d0;
	border-radius: 50%;
	background-color: #e8e8e8;
}

.input:checked + .check::after {
	content: '';
	position: absolute;
	top: 17px;
	right: 17.5px;
	width: 12px;
	height: 12px;
	background-color: rgba(255, 0, 0, 0.7);
	border-radius: 50%;
}

.input[value='standart']:checked + .check::after {
	background-color: rgba(255, 165, 0, 0.7);
}

.input[value='premium']:checked + .check::after {
	background-color: rgba(0, 128, 0, 0.7);
}

.input[value='basic']:checked {
	border: 1.5px solid rgba(255, 0, 0, 0.7);
}

.input[value='standart']:checked {
	border: 1.5px solid rgba(255, 165, 0, 0.7);
}

.input[value='premium']:checked {
	border: 1.5px solid rgba(0, 128, 0, 0.7);
}

.label {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.label .title {
	margin: 15px 0 0 15px;
	font-weight: 900;
	font-size: 15px;
	letter-spacing: 1.5px;
}

.label .price {
	margin: 20px 0 0 15px;
	font-size: 19px;
	font-weight: 800;
}

.label .span {
	color: gray;
	font-weight: 700;
	font-size: 13px;
}

/* -- INPUTS ENVÍO -- */

.inputGroup {
	font-family: 'Segoe UI', sans-serif;
	margin: 1em 0 1em 0;
	position: relative;
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.inputGroup input {
	color: var(--textcolor);
	font-size: 100%;
	padding: 0.8em;
	outline: none;
	border: 2px solid var(--textcolor);
	background-color: transparent;
	border-radius: 20px;
	width: 100%;
}

.inputGroup label {
	font-size: 100%;
	position: absolute;
	left: 0;
	padding: 0.8em;
	margin-left: 0.5em;
	pointer-events: none;
	transition: all 0.3s ease;
	color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid) ~ label {
	transform: translateY(-50%) scale(0.9);
	margin: 0em;
	margin-left: 1.3em;
	padding: 0.4em;
	border-radius: 20%;
	background-color: var(--background);
}

.inputGroup :is(input:focus, input:valid) {
	border-color: var(--primary);
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
	.wrapper {
		flex-direction: column;
	}
	.card {
		width: 100%;
	}
	/* Add any other responsive styles as needed */
}

/* Tipo de envio */

.envio-section {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;

	@media (width <= 958px) {
		flex-direction: column;
	}
}

.tipoDeEnvio .subtitle {
	text-align: center;
}

.tipoDeEnvio {
	@media (width <= 768px) {
		width: 80%;
	}
}

#map {
	height: 500px;
	width: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
}

