.carrito{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartItems{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.divCart{
  width: 75%;
  display:flex;
  overflow: auto;
  margin-bottom: 10px;
}

.divCart::-webkit-scrollbar {
  height: 7px;
	background-color: rgb(71, 71, 71);
	border-radius: 20px;
}

.divCart::-webkit-scrollbar-thumb {
	background-color: var(--primary);
	border-radius: 20px;
}

.divImgName, .divCantSubtotalBtn{
  display: flex;
  gap: 10%;
  min-width: 25%;
  flex-grow: 1;
  margin-bottom: 10px;
}

.imaga{
  width: 30%;
}

.pName{
  font-weight: bold;
  font-size: 18px;
  align-self: center;
}

.pCant{
  width: 3rem;
  align-self: center;
  margin-bottom: 15px;
}

.pSubtotal{
  align-self: center;
  white-space: nowrap;
}

.btnBorrar{
  height: 2rem;
  padding: 0px 15px;
  align-self: center;
  margin-bottom: 15px;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card {
  position: relative;
  width: 150px;
  height: 100px;
  background: #fff;
  border-radius: 10px;
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.input {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  appearance: none;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  z-index: 10;
  box-shadow: 1px 1px 10px #aaaaaa,
              -1px -1px 10px #ffffff;
}

.input + .check::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  width: 16px;
  height: 16px;
  border: 2px solid #d0d0d0;
  border-radius: 50%;
  background-color: #E8E8E8;
}

.input:checked + .check::after {
  content: '';
  position: absolute;
  top: 17px;
  right: 17.5px;
  width: 12px;
  height: 12px;
  background-color: rgba(255,0,0,0.7);
  border-radius: 50%;
}

.input[value="standart"]:checked + .check::after {
  background-color: rgba(255,165,0,0.7);
}

.input[value="premium"]:checked + .check::after {
  background-color: rgba(0,128,0,0.7);
}

.input[value="basic"]:checked {
  border: 1.5px solid rgba(255,0,0,0.7);
}

.input[value="standart"]:checked {
  border: 1.5px solid rgba(255,165,0,0.7);
}

.input[value="premium"]:checked {
  border: 1.5px solid rgba(0,128,0,0.7);
}

.label {
  color: #323232;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.label .title {
  margin: 15px 0 0 15px;
  font-weight: 900;
  font-size: 15px;
  letter-spacing: 1.5px;
}

.label .price {
  margin: 20px 0 0 15px;
  font-size: 19px;
  font-weight: 800;
}

.label .span {
  color: gray;
  font-weight: 700;
  font-size: 13px;
}

    /* -- INPUTS ENVÍO -- */

    .inputGroup {
        font-family: 'Segoe UI', sans-serif;
        margin: 1em 0 1em 0;
        max-width: 290px;
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
      
      .inputGroup input {
        font-size: 100%;
        padding: 0.8em;
        outline: none;
        border: 2px solid rgb(200, 200, 200);
        background-color: transparent;
        border-radius: 20px;
        width: 100%;
      }
      
      .inputGroup label {
        font-size: 100%;
        position: absolute;
        left: 0;
        padding: 0.8em;
        margin-left: 0.5em;
        pointer-events: none;
        transition: all 0.3s ease;
        color: rgb(100, 100, 100);
      }
      
      .inputGroup :is(input:focus, input:valid)~label {
        transform: translateY(-50%) scale(.9);
        margin: 0em;
        margin-left: 1.3em;
        padding: 0.4em;
        border-radius: 20%;
        background-color: #ffffff;
      }
      
      .inputGroup :is(input:focus, input:valid) {
        border-color: rgb(150, 150, 200);
      }
      /* Responsive Styles */

      @media screen and (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }
    .card {
        width: 100%;
    }
    /* Add any other responsive styles as needed */
}